#!/bin/zsh

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias tom='cd ~'

# Shortcuts
alias g='git'
alias t='tmux'
alias home='git --work-tree=$HOME --git-dir=$HOME/.dotfiles/'

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# List hidden files
alias lsd='ls -d .*'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Show/hide hidden files in finder
alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

# Get week number
alias week='date +%V'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

# Django
alias dj='python manage.py'
alias djr='python manage.py runserver'
alias djmm='python manage.py makemigrations'
alias djm='python manage.py migrate'

# Docker
alias d='docker'
alias dc='docker-compose'
alias dcb='dc build'
alias dcu='dc up'
alias dex='d exec -it'
alias dl='d logs'
alias dps='d ps'
alias dr='d rm'
alias ds='d stop'
alias dsr='ds $(dps -a -q) && dr $(dps -a -q)'
