#!/bin/zsh

export ZSH=$HOME/.oh-my-zsh

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Create `pipenv` virtualenv inside project’s directory
# https://docs.pipenv.org/en/latest/install/#virtualenv-mapping-caveat
export PIPENV_VENV_IN_PROJECT=1