[user]
	name = Tom Meagher
	email = thom.meagher@gmail.com
	signingKey = 72072EC3ED191086
[github]
	user = tmm
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[core]
	editor = code --wait
[color]
	ui = auto
[push]
	default = current
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	# Current branch name
	branch-name = rev-parse --abbrev-ref HEAD

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

    # Switch to a branch, creating it if necessary
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# View abbreviated SHA, author, description, and time ago of the latest 20 commits
	log-recent = log --pretty=oneline -n 20 --abbrev-commit --pretty=format:'%Cred%h%Creset %C(yellow)%an%Creset %s%C(normal dim)%d%Creset %Cgreen(%cr)%Creset' --date=relative
    
	# Open a pull request on GitHub for current branch
	pr = "!open $(git remote -v | grep origin | grep push | cut -f 2 | cut -d ' ' -f 1 | sed -e 's/.git$//g')/pull/new/$(git branch-name)"

	# Pushes and sets current branch upstream
	publish = "!git push -u origin $(git branch-name)"

	# Pull in remote changes for current repository and all its submodules
	pull-all = "!git pull; git submodule foreach git pull origin master"

    # Interactive rebase with given number of latest commits
    reb = "!r() { git rebase -i HEAD~$1; }; r"

    # Undo last commit
    undo = reset --soft HEAD^

    # Cleaner unstage
    unstage = reset HEAD --
