<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.awkweb.sync_system_appearance</string>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/tmm/.config/macos/sync_system_appearance_stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/tmm/.config/macos/sync_system_appearance_stdout.log</string>
    <key>ProgramArguments</key>
    <array>
       <string>/usr/local/bin/sync_system_appearance</string>
       <string>/opt/homebrew/bin/fish</string>
       <string>-c</string>
       <string>change_appearance</string>
    </array>
</dict>
</plist>
