<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.culturedcode.addtodowithalfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2660618F-4A76-4BA5-B8F1-E9278348D2DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29A94267-B3CE-4081-ABA1-72AF02517130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cultured Code</string>
	<key>description</key>
	<string>Adds a new to-do to Things 3.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add To-Do to Things 3</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
 tell application "Things3.app"
  parse quicksilver input q
 end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>29A94267-B3CE-4081-ABA1-72AF02517130</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>+</string>
				<key>subtext</key>
				<string>"{query}"</string>
				<key>text</key>
				<string>New To-Do</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2660618F-4A76-4BA5-B8F1-E9278348D2DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Syntax
title #tag1 #tag2 [project name/area name] ::note &gt;duedate

# Notes
- Only existing tags can be added. This parameter is case-insensitive. If #tag1 doesn’t exist, '#tag1' will be added to the to-do’s title.
- To-dos can only be added to existing projects or areas. This parameter is case-insensitive. Projects or areas that don’t already exist will be ignored entirely; the text won’t be added to the to-do’s title.
- Format for the due date will reflect your Mac’s short date format. Check this in System Preferences &gt; Language &amp; Region &gt; Advanced… &gt; Dates. Invalid due date formats will result in the parameter’s text being added to the to-dos title.
- If you’re using a dark theme for Alfred, there’s a white Inbox icon available in this Workflow’s folder. Right-click the Workflow and click Show in Finder to find it.</string>
	<key>uidata</key>
	<dict>
		<key>2660618F-4A76-4BA5-B8F1-E9278348D2DE</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>29A94267-B3CE-4081-ABA1-72AF02517130</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://culturedcode.com</string>
</dict>
</plist>
