.theme-dark {
  --background-primary: #1D1D1B;
  --background-secondary: #0f0f0e;
  --modal-background: #0f0f0e;
  --prompt-background: #0f0f0e;
}

.theme-light {
  --background-primary: #fcfcf7;
  --background-secondary: #ffffff;
  --modal-background: #ffffff;
  --prompt-background: #ffffff;
  --color-accent: #324832;
  --color-accent-1: #324832;
  --color-accent-2: #3a5a3a;
}
