<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.grey.openVisualStudioCodeProject</string>
	<key>connections</key>
	<dict>
		<key>4E2A053B-800C-4893-B757-3357534E8936</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D761D470-EC97-447A-AAE5-EEE69F3B283B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4678C97-33C1-4F92-90F3-CE9706D7D2D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E2A053B-800C-4893-B757-3357534E8936</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nightgrey</string>
	<key>description</key>
	<string>Quickly open development projects in Visual Studio Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Visual Studio Code project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python ./listDirectories.py -p "~/code"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E2A053B-800C-4893-B757-3357534E8936</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F4678C97-33C1-4F92-90F3-CE9706D7D2D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/code $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D761D470-EC97-447A-AAE5-EEE69F3B283B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>PROJECT_FOLDER must be the folder to your workspace directory, e.g. where all projects are.

Note:
- This script only looks for project folders and opens them via the `code` CLI command that ships with Visual Studio Code.</string>
	<key>uidata</key>
	<dict>
		<key>4E2A053B-800C-4893-B757-3357534E8936</key>
		<dict>
			<key>note</key>
			<string>Call `./listDirectories.py` script</string>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>D761D470-EC97-447A-AAE5-EEE69F3B283B</key>
		<dict>
			<key>note</key>
			<string>Open chosen path via `code`, the executable shipped by Visual Studio Code to open folders and files via the CLI.</string>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>F4678C97-33C1-4F92-90F3-CE9706D7D2D4</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PROJECT_FOLDER</key>
		<string>~/Dev</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nightgrey/alfred-open-vsc-project</string>
</dict>
</plist>
